@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.titleHome{
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.subTitleHome{
    text-align: center;
    font-size: 20px;
}

.titleHomeContainer{
    width: 40%;
}